:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --footer-contacts-color: #ffffff99;
  --filter-btn-color: #f5f4fa;
  --secondary-bg-color: #f5f4fa;
  --primary-bg-color: #2f303a;
  --hero-btn-hover: #188ce8;
  --contrast-color: #ffffff;
  --header-link-second-color: #000000;
  --border-portfolio-color: 1px solid #eeeeee;
  --header-border-color: 1px solid #ececec;
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: Roboto, neo-grotesque sans-serif;
  color: var(--primary-text-color);
  font-size: 14px;
}

.visually-hidden {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-field {
  margin-bottom: 10px;
  cursor: pointer;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  padding: 40px;
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-btn:hover .modal-close-icon, .modal-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  cursor: pointer;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 16px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:focus {
  border: 1px solid var(--accent-color);
}
.modal-comment::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-close-icon {
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-field-comment {
  margin-bottom: 20px;
}

.modal-icon-checkbox {
  position: absolute;
  width: 16px;
  height: 15px;
}

.check-text {
  font-size: 14px;
  width: 90%;
  display: flex;
  align-items: top;
  cursor: pointer;
  margin: 0 2.5%;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  width: 11px;
  height: 8px;
  fill: transparent;
}

.input-check {
  display: none;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: transparent;
}
.input-check:checked + .check-text .check-icon {
  fill: #ffffff;
}

.modal-field-checkbox {
  margin-bottom: 30px;
}

.modal-submit-btn {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn:hover {
  background-color: #188ce8;
}

.header {
  border-bottom: var(--header-border-color);
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #000000;
}
.header-contacts {
  display: flex;
  justify-content: center;
}
.header-contacts__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-contacts__item:hover .header-contacts__icon {
  fill: var(--accent-color);
}
.header-contacts__item:hover .header-contacts__link {
  color: var(--accent-color);
}
.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-list__link,
.header-contacts__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-list__link:hover, .header-list__link:focus,
.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
}

.header-contacts__icon--smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.header-contacts__icon--envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.header-list {
  display: flex;
  gap: 57px;
}

.header-list__link.current {
  color: var(--accent-color);
}

.header-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 97px;
}

span.header-logo__span--black {
  color: tomato;
}

.current::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  border-radius: 4px;
}

.header-list__item {
  position: relative;
}
.header-list__item :not(:last-child) {
  margin-right: 53px;
}

.header-list__link {
  color: tomato;
}

.hero {
  background-color: var(--primary-bg-color);
  padding-top: 200px;
  padding-bottom: 210px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--contrast-color);
  max-width: 696px;
  text-align: center;
  margin: 0 auto;
}

.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--contrast-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  outline: none;
}
.hero-btn:hover, .hero-btn:focus {
  background-color: var(--hero-btn-hover);
}

.benefits {
  padding-top: 94px;
}
.benefits__container {
  display: flex;
}

.benefits-list__item--satellite::before {
  background-image: url(../images/icon-satellite.svg);
}

.benefits-list__item--clock::before {
  background-image: url(../images/icon-clock.svg);
}

.benefits-list__item--laptop::before {
  background-image: url(../images/icon-laptop.svg);
}

.benefits-list__item--astrounaut::before {
  background-image: url(../images/icon-astrounaut.svg);
}

.benefits-list {
  display: flex;
  justify-items: center;
}
.benefits-list__item {
  max-width: 270px;
}
.benefits-list__item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 65px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.benefits-list__item:not(:last-child) {
  margin-right: 30px;
}
.benefits-list__name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 9.41px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.whatwedo {
  padding: 94px 0;
}
.whatwedo__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.whatwedo-list {
  display: flex;
  gap: 30px;
}
.whatwedo-list__box {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  color: #000000;
  width: 370px;
  height: 70px;
  bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto;
  padding: 27px 27px;
}
.whatwedo-list__item {
  position: relative;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
}
.team-soc-link:hover .team-soc-icon, .team-soc-link:focus .team-soc-icon {
  fill: var(--contrast-color);
}

.team-soc-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team {
  background-color: var(--secondary-bg-color);
  padding: 94px 0;
}

.team-information {
  padding: 30px 30px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team-item {
  background-color: var(--contrast-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--box-shadow);
  width: calc(100% - 20px);
}

.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
}

.team-job-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 10px;
  text-align: center;
}

.customer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.customer-item {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-item:hover {
  border-color: var(--accent-color);
}
.customer-item:hover .customer-icon {
  fill: var(--accent-color);
}

.customer-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers {
  padding: 94px 0;
}

.customers-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto;
  margin-bottom: 50px;
}

.footer-links-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--contrast-color);
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer-links-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1019607843);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
}
.footer-soc-link:hover .footer-soc-icon, .footer-soc-link:focus .footer-soc-icon {
  fill: var(--contrast-color);
}

.footer-soc-icon {
  fill: var(--contrast-color);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.footer {
  background-color: var(--primary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 9px;
}

span.second-color-footer {
  color: var(--contrast-color);
}

.footer-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contrast-color);
}

.footer-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact:hover, .footer-contact:focus {
  color: var(--accent-color);
}

.footer-form {
  margin-left: auto;
}

/* ////////////FOOTER FORM/////////////// */
.footer-form-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  outline: none;
}

.footer-submit-btn {
  width: 100%;
  max-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  outline: none;
  margin-left: 12px;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-input-icon {
  width: 18px;
  height: 18px;
  margin-left: 30px;
}

.footer-form-subscribe {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background: var(--filter-btn-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
}
.filter-btn:hover, .filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-section {
  padding: 94px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -30px 0px 0px -30px;
}

.portfolio-item {
  margin: 30px 0px 0px 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.portfolio-category {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-border {
  padding: 20px 24px;
  border-left: var(--border-portfolio-color);
  border-right: var(--border-portfolio-color);
  border-bottom: var(--border-portfolio-color);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 24px;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 91px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}/*# sourceMappingURL=main.css.map */