.benefits {
  padding-top: 94px;
  margin-bottom: 60px;

  &__container {
    display: flex;
  }
}

.benefits-list__item--satellite::before {
  background-image: url(../images/icon-satellite.svg);
}

.benefits-list__item--clock::before {
  background-image: url(../images/icon-clock.svg);
}

.benefits-list__item--laptop::before {
  background-image: url(../images/icon-laptop.svg);
}

.benefits-list__item--astrounaut::before {
  background-image: url(../images/icon-astrounaut.svg);
}

.benefits-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  gap: 30px;
  &__item {
    width: 100%;
    &::before {
      display: block;
      content: "";
      height: 120px;
      background-size: 65px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #f5f4fa;
      margin-bottom: 30px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 120px) / 4);
    }
  }
  &__name {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 9.41px;
    text-align: center;
    width: 100%;
  }
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
