.customer-list {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.customer-item {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: var(--accent-color);
  }
  &:hover .customer-icon {
    fill: var(--accent-color);
  }
}

.customer-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.customers-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto;
  margin-bottom: 50px;
}
