.header {
  border-bottom: var(--header-border-color);
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    display: flex;
    align-items: center;

    justify-content: space-between;
    border-bottom: #000000;
  }

  &-contacts {
    max-width: 142px;
    margin-left: auto;
    display: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 10px;

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
      max-width: unset;
      gap: 30px;
    }

    &__item {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      &:hover .header-contacts__icon {
        fill: var(--accent-color);
      }
      &:hover .header-contacts__link {
        color: var(--accent-color);
      }
      @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
  &-menu__toggler {
    width: 40px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 0;
    outline: none;
    background: transparent;
    padding: 0px 8px;
    .line {
      display: block;
      width: 100%;
      height: 3px;
      background: #212121;
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
    &:focus,
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.header-list__link,
.header-contacts__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  //display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-contacts__link {
  width: 100%;
  display: flex;
  //flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  @media screen and (min-width: 1200px) {
    padding: 32px 0;
  }
}

.header-contacts__icon--smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.header-contacts__icon--envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.header-list {
  display: none;
  gap: 57px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  position: relative;
}

.header-list__link.current {
  color: var(--accent-color);
}

.header-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 97px;
}

span.header-logo__span--black {
  color: black;
}

.current::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    top: 35px;
  }

  @media screen and (min-width: 1200px) {
    top: 45px;
  }
}

.header-list__item {
  position: relative;
  :not(:last-child) {
    margin-right: 53px;
  }
}

.header-list__link {
  color: var(--secondary-text-color);
}
