.hero {
  background-color: var(--primary-bg-color);
  padding-top: 200px;
  padding-bottom: 210px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--contrast-color);
  max-width: 696px;
  text-align: center;
  margin: 0 auto;
}

.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--contrast-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  outline: none;
  &:hover,
  &:focus {
    background-color: var(--hero-btn-hover);
  }
}
