:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --footer-contacts-color: #ffffff99;
  --filter-btn-color: #f5f4fa;
  --secondary-bg-color: #f5f4fa;
  --primary-bg-color: #2f303a;
  --hero-btn-hover: #188ce8;
  --contrast-color: #ffffff;
  --header-link-second-color: #000000;
  --border-portfolio-color: 1px solid #eeeeee;
  --header-border-color: 1px solid #ececec;
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
